<head>
    <title>{{ .Title }}{{ if not .IsHome }} | {{ $.Site.Title }}{{ end }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ `images/favicon.ico` | absURL }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ `images/sumo_twitter.jpg` | absURL }}">
    <meta name="description" content="{{ .Description }}">
    <meta name="theme-color" content="#338033">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ `images/sumo_twitter.jpg` | absURL }}">
    <meta name="twitter:site" content="@eclipsesumo">
    <meta property="og:title" content="{{ .Title }}{{ if not .IsHome }} | {{ $.Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:image" content="{{ `images/sumo_share.png` | absURL }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink | absLangURL }}">
    <meta name="keywords" content="SUMO, Eclipse SUMO, Traffic Simulation, Mobility">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ `css/custom.css` | absURL }}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <script>
        window.onload = function check_if_ie() {
            var msie = window.navigator.userAgent.indexOf("MSIE ");
            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                document.getElementById("not_for_ie").style.display = 'none';
            }
            return false;
        }
    </script>

    <!-- Eclipse Cookie Consent Banner -->
    <!-- <link rel="stylesheet" type="text/css" href="//www.eclipse.org/eclipse.org-common/themes/solstice/public/stylesheets/vendor/cookieconsent/cookieconsent.min.css" />
    <script src="//www.eclipse.org/eclipse.org-common/themes/solstice/public/javascript/vendor/cookieconsent/default.min.js"></script> -->

    <!-- {{- partial "google_analytics.html" . }} -->

</head>