<head>
    <title>{{ .Title }}{{ if not .IsHome }} | {{ $.Site.Title }}{{ end }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ `images/favicon.ico` | absURL }}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ `images/sumo_twitter.jpg` | absURL }}">
    <meta name="description" content="{{ .Description }}">
    <meta name="theme-color" content="#338033">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="{{ `images/sumo_twitter.jpg` | absURL }}">
    <meta name="twitter:site" content="@eclipsesumo">
    <meta property="og:title" content="{{ .Title }}{{ if not .IsHome }} | {{ $.Site.Title }}{{ end }}">
    <meta property="og:description" content="{{ .Description }}">
    <meta property="og:site_name" content="{{ .Site.Title }}">
    <meta property="og:image" content="{{ `images/sumo_share.png` | absURL }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .Permalink | absLangURL }}">
    <meta name="keywords" content="SUMO, Eclipse SUMO, Traffic Simulation, Mobility">
    <link rel="stylesheet" href="{{ `libraries/bootstrap.min.css` | absURL }}">
    <script src="{{ `libraries/jquery.min.js` | absURL }}"></script>
    <script src="{{ `libraries/popper.min.js` | absURL }}"></script>
    <script src="{{ `libraries/bootstrap.min.js` | absURL }}"></script>
    <link rel="stylesheet" href="{{ `css/custom.css` | absURL }}">
    <link rel="stylesheet" href="{{ `libraries/all.css` | absURL }}">
    <script src="{{ `libraries/buttons.js` | absURL }}"></script>

    <script>
        window.onload = function check_if_ie() {
            var msie = window.navigator.userAgent.indexOf("MSIE ");
            if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./)) {
                document.getElementById("not_for_ie").style.display = 'none';
            }
            return false;
        }
    </script>

    <!-- Eclipse Cookie Consent Banner -->
    <!-- <link rel="stylesheet" type="text/css" href="//www.eclipse.org/eclipse.org-common/themes/solstice/public/stylesheets/vendor/cookieconsent/cookieconsent.min.css" />
    <script src="//www.eclipse.org/eclipse.org-common/themes/solstice/public/javascript/vendor/cookieconsent/default.min.js"></script> -->

    <!-- {{- partial "google_analytics.html" . }} -->

</head>