{{ define "main" }}
<section class="section">
  <div class="container-fluid header bg-gradient" style="padding: 40px 0 40px 0;">
    <div class="svg-rounded">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="#f8f8f8"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
    </div>
    <h1 class="text-center" style="margin-top: 80px; color:#17412f;">{{ .Title }}</h1>
  
    {{ if isset .Params "subtitle" }}
    <h4 style="text-align: center; color: #6d846e;">{{ index .Params "subtitle" }}</h4>
    {{ if isset .Params "conferencedate" }}
    <p style="text-align: center; color: #6d846e;"><i class="fas fa-calendar-alt"></i> {{ index .Params "conferencedate" }} {{ if isset .Params "conferencelocation" }} | <i class="fas fa-map-marker-alt"></i> {{ index .Params "conferencelocation" }}{{ end }}</p>
    {{ end }}
    {{ end }}
  </div>

  <div class="container">
    {{ if isset .Params "conference-page" }}{{- partial "conference_archive.html" . -}}{{ end }}
    {{ .Content }}
    {{ if isset .Site.Params "githubediturl" }}
    <div class="d-flex justify-content-end"><a href="{{ $.Site.Params.githubEditURL }}{{ .File.Path }}"><button type="button" class="btn btn-light btn-sm" title="Edit this page on GitHub"><i class="fas fa-pencil-alt"></i> Edit</button></a></div>
    {{ end }}
  </div>
</section>
{{ end }}