<!-- archive - previous years -->
<p class="sidebar-title"><b>Archive</b></p>
<div class="btn-group">
    <div class="dropdown">
    <button type="button" class="btn btn-light btn-archive btn-sm dropdown-toggle" data-toggle="dropdown" title="Explore previous conferences">Select year </button>
        <div class="dropdown-menu text-center">
            <a class="dropdown-item" href="{{ `conference` | absURL }}">Current conference <i class="fas fa-angle-double-right"></i></a>
            <a class="dropdown-item" href="{{ `2023` | absURL }}">2023</a>
            <a class="dropdown-item" href="{{ `2022` | absURL }}">2022</a>
            <a class="dropdown-item" href="{{ `2021` | absURL }}">2021</a>
            <a class="dropdown-item" href="{{ `2020` | absURL }}">2020</a>
            <a class="dropdown-item" href="{{ `2019` | absURL }}">2019</a>
            <a class="dropdown-item" href="{{ `2018` | absURL }}">2018</a>
            <a class="dropdown-item" href="{{ `2017` | absURL }}">2017</a>
            <a class="dropdown-item" href="{{ `2016` | absURL }}">2016</a>
            <a class="dropdown-item" href="{{ `2015` | absURL }}">2015</a>
            <a class="dropdown-item" href="{{ `2014` | absURL }}">2014</a>
            <a class="dropdown-item" href="{{ `2013` | absURL }}">2013</a>
            <a class="dropdown-item" href="https://sumo.dlr.de/docs/SumoWorkshop2010.html">Workshop 2010</a>
        </div>
    </div> 
</div>
